@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #059212;

    --background: 133 60.45% 2.4%;
    --foreground: 133 9.3% 96.5%;

    --muted: 133 31.62% 0.3%;
    --muted-foreground: 133 9.3% 53%;

    --popover: 133 97.55000000000001% 3.5999999999999996%;
    --popover-foreground: 133 9.3% 96.5%;

    --card: 133 97.55000000000001% 3.5999999999999996%;
    --card-foreground: 133 9.3% 96.5%;

    --border: 133 31.62% 0.3%;
    --input: 133 31.62% 0.3%;

    --primary: 133 93% 30%;
    --primary-foreground: 133 9.3% 96.5%;

    --secondary: 133 31.62% 0.3%;
    --secondary-foreground: 133 9.3% 96.5%;

    --accent: 133 31.62% 0.3%;
    --accent-foreground: 133 9.3% 96.5%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 133 9.3% 96.5%;

    --ring: 133 93% 30%;
  }
.dark  {
  --background: 107 50% 5%;
  --foreground: 107 5% 90%;
  --card: 107 50% 0%;
  --card-foreground: 107 5% 90%;
  --popover: 107 50% 5%;
  --popover-foreground: 107 5% 90%;
  --primary: 107 82% 35%;
  --primary-foreground: 0 0% 100%;
  --secondary: 107 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 69 30% 15%;
  --muted-foreground: 107 5% 60%;
  --accent: 69 30% 15%;
  --accent-foreground: 107 5% 90%;
  --destructive: 0 92% 30%;
  --destructive-foreground: 107 5% 90%;
  --border: 107 30% 18%;
  --input: 107 30% 18%;
  --ring: 107 82% 35%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
}